.dyfTci { height: 100dvh; }
.dymtqV { height: 100%; }
.fOpXlX { background: rgb(24, 24, 38); }
.djtATL { background: rgb(123, 121, 255); border-radius: 4px; color: rgb(33, 33, 52); left: -100%; padding-block: 12px; padding-inline: 12px; position: absolute; top: -100%; z-index: 9999; }
.giKbqi { background: rgb(33, 33, 52); width: 100dvw; }
@media (min-width: 1080px) {
  .giKbqi { width: 56px; }
}
.IGXJt { padding-block: 12px; padding-inline: 12px; }
.bDDbwU { padding-block: 4px; padding-inline: 4px; }
@media (min-width: 768px) {
  .bDDbwU { padding-block: 0px; padding-inline: 0px; }
}
.dnQRzc { height: 3.2rem; width: 3.2rem; }
.hpbQbv { background: rgb(50, 50, 77); }
.hYdcRO { flex: 1 1 0%; padding-block: 12px; padding-inline: 12px; }
@media (min-width: 1080px) {
  .hYdcRO { padding-inline: 0px; }
}
.dcWvXc { border-color: rgb(50, 50, 77); border-style: solid; border-width: 0px; display: none; padding-block: 12px; padding-inline: 12px; }
@media (min-width: 1080px) {
  .dcWvXc { border-width: 1px 0px 0px; display: flex; }
}
.ExYOD { border-radius: 4px; cursor: pointer; padding-inline: 16px; width: 100%; }
.hBkpLh { display: flex; padding-block: 12px; padding-inline: 12px; }
@media (min-width: 1080px) {
  .hBkpLh { display: none; }
}
.gQpdAr { border-radius: 4px; cursor: pointer; display: inline-flex; }
.cHgppv { flex: 1 1 0%; height: auto; overflow: auto; width: 100%; }
@media (min-width: 1080px) {
  .cHgppv { height: 100%; }
}
.bjfYTI { width: 100%; }
.hbAFoo { padding-block: 8px; padding-inline: 16px; width: 100%; }
@media (min-width: 768px) {
  .hbAFoo { padding-inline: 24px; }
}
@media (min-width: 1080px) {
  .hbAFoo { padding-inline: 56px; }
}
.lnmTPo { flex: 1 1 0%; }
.irfbVM { text-align: center; }
.bictbn { padding-inline-end: 16px; text-align: center; }
.frpJcH { border-radius: 4px; cursor: pointer; padding-inline: 16px; width: max-content; }
.iCdydP { cursor: pointer; }
.laFEt { flex-shrink: 0; }
.fzddIH { padding-block-end: 16px; }
@media (min-width: 768px) {
  .fzddIH { padding-block-end: 24px; }
}
@media (min-width: 1080px) {
  .fzddIH { padding-block-end: 56px; }
}
.exqDCc { background: rgb(24, 24, 38); padding-block: 16px; padding-inline: 16px; }
@media (min-width: 768px) {
  .exqDCc { padding-inline: 24px; }
}
@media (min-width: 1080px) {
  .exqDCc { padding-block: 40px; padding-inline: 56px; }
}
.jCzZcT { min-width: 0px; }
.cNsuPC { margin-inline-start: auto; padding-inline-start: 16px; }
.jLqtFJ { padding-inline: 16px; padding-block-start: 16px; }
@media (min-width: 768px) {
  .jLqtFJ { padding-inline: 24px; padding-block-start: 0px; }
}
@media (min-width: 1080px) {
  .jLqtFJ { padding-inline: 56px; }
}
.iBZXNm { padding-block-end: 56px; }
.cMCxgX { position: relative; }
.cxXTXC { background: rgb(33, 33, 52); border-color: rgb(50, 50, 77); border-radius: 4px; border-style: solid; border-width: 1px; box-shadow: rgba(3, 3, 5, 0.2) 1px 1px 10px; padding-block: 24px; padding-inline: 24px; position: relative; width: 100%; }
.kzsmhO { min-height: 2.25rem; width: 100%; }
.iyOZZx { margin-inline-end: auto; }
.kpJFPa { border-radius: 4px; cursor: grab; display: inline-flex; }
.gkTTrZ { height: 261px; overflow: auto; width: 100%; }
.jyTXDv { text-align: right; }
.kFOhwR { margin-block-start: 8px; }
.gsKGcE { background: rgb(50, 50, 77); min-width: 20px; padding-inline: 8px; }
.euAgGD { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(123, 121, 255); padding-block: 8px; padding-inline: 8px; }
.hHHULg { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(242, 157, 65); padding-block: 8px; padding-inline: 8px; }
.eESjJy { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(102, 183, 241); padding-block: 8px; padding-inline: 8px; }
.kGwlkB { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(172, 115, 230); padding-block: 8px; padding-inline: 8px; }
.ijeFAk { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(92, 177, 118); padding-block: 8px; padding-inline: 8px; }
.dMWRBL { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(238, 94, 82); padding-block: 8px; padding-inline: 8px; }
.dfcfuf { background: rgb(24, 24, 38); border-radius: 4px; color: rgb(165, 165, 186); padding-block: 8px; padding-inline: 8px; }
.cAYoom { border-radius: 4px; cursor: pointer; padding-inline: 16px; }
.iwhkGK { align-items: center; justify-content: center; flex-direction: row; display: flex; }
.lcwsEm { align-items: flex-start; flex-direction: column; display: flex; }
@media (min-width: 1080px) {
  .lcwsEm { flex-direction: row; }
}
.dyzSCD { align-items: normal; flex-direction: row; display: flex; }
@media (min-width: 1080px) {
  .dyzSCD { flex-direction: column; }
}
.gEiNkw { align-items: center; flex-direction: row; display: flex; }
.kksjey { align-items: center; justify-content: center; flex-direction: column; display: flex; }
.fFLyIQ { gap: 12px; align-items: center; justify-content: center; flex-direction: row; display: flex; }
@media (min-width: 1080px) {
  .fFLyIQ { justify-content: flex-start; flex-direction: column; }
}
.hFAGbO { gap: 8px; align-items: center; justify-content: flex-start; flex-direction: row; display: inline-flex; }
.eHjCAW { gap: 12px; align-items: center; flex-direction: row; display: flex; }
.ndA-Ds { align-items: stretch; flex-direction: column; display: flex; }
.gyTsYH { gap: 8px; align-items: center; justify-content: center; flex-direction: row; display: flex; }
.fdyZai { gap: 8px; align-items: center; justify-content: center; flex-flow: wrap; display: flex; }
.gGFitX { gap: 8px; align-items: center; justify-content: center; flex-direction: row; display: inline-flex; }
.dXGYDT { gap: 12px; align-items: initial; flex-direction: column; display: flex; }
.LMqPB { gap: 16px; align-items: center; justify-content: space-between; flex-flow: wrap; display: flex; }
.fyxWMR { gap: 8px; align-items: center; flex-direction: row; display: flex; }
.dFhyFB { gap: 40px; align-items: stretch; flex-direction: column; display: flex; }
.calsVL { gap: 16px; align-items: flex-start; flex-direction: column; display: flex; }
.dXNHYw { gap: 12px; align-items: center; justify-content: center; flex-direction: column; display: flex; }
.jDeIiE { gap: 4px; align-items: center; flex-flow: wrap; display: flex; }
.kLxHVe { align-items: center; justify-content: center; flex-direction: row; display: inline-flex; }
.ginzbh { gap: 24px; align-items: center; justify-content: center; flex-direction: column; display: flex; }
.feKiOJ { align-items: flex-start; flex-direction: column; display: flex; }
.eIQvCk { gap: 16px; align-items: center; justify-content: center; flex-direction: column; display: flex; }
.bZZjIN { gap: 8px; align-items: center; flex-direction: column; display: flex; }
.kMTURw { font-size: 1.2rem; line-height: 1.33; color: currentcolor; font-weight: 600; }
.ctKiCE { line-height: 1.33; color: rgb(33, 33, 52); font-weight: 600; font-size: 1.4rem; }
@media (min-width: 768px) {
  .ctKiCE { line-height: 1.25; }
}
.dnmzsv { font-weight: 500; line-height: 1.33; color: rgb(33, 33, 52); font-size: 1.4rem; }
@media (min-width: 768px) {
  .dnmzsv { line-height: 1.25; }
}
.bknUng { font-weight: 600; font-size: 2.8rem; line-height: 1.14; color: currentcolor; }
@media (min-width: 768px) {
  .bknUng { font-size: 3.2rem; }
}
@media (min-width: 768px) {
  .bknUng { line-height: 1.25; }
}
.jatyhV { font-size: 1.8rem; line-height: 1.33; color: rgb(165, 165, 186); }
@media (min-width: 768px) {
  .jatyhV { font-size: 1.6rem; }
}
@media (min-width: 768px) {
  .jatyhV { line-height: 1.5; }
}
.kkvXIw { font-size: 1.6rem; line-height: 1.5; color: currentcolor; text-transform: uppercase; font-weight: 600; }
@media (min-width: 768px) {
  .kkvXIw { font-size: 1.4rem; }
}
@media (min-width: 768px) {
  .kkvXIw { line-height: 1.43; }
}
.dMsljg { font-weight: 600; text-transform: uppercase; font-size: 1.1rem; line-height: 1.45; color: rgb(192, 192, 207); }
.bAGGa { font-size: 1.6rem; line-height: 1.5; color: rgb(123, 121, 255); }
@media (min-width: 768px) {
  .bAGGa { font-size: 1.4rem; }
}
@media (min-width: 768px) {
  .bAGGa { line-height: 1.43; }
}
.cxkaaY { font-size: 1.6rem; line-height: 1.5; color: currentcolor; text-transform: none; font-weight: 600; }
@media (min-width: 768px) {
  .cxkaaY { font-size: 1.4rem; }
}
@media (min-width: 768px) {
  .cxkaaY { line-height: 1.43; }
}
.eXXdwW { font-size: 1.6rem; line-height: 1.5; color: rgb(165, 165, 186); }
@media (min-width: 768px) {
  .eXXdwW { font-size: 1.4rem; }
}
@media (min-width: 768px) {
  .eXXdwW { line-height: 1.43; }
}
.hLBAWN { font-weight: 600; text-transform: uppercase; font-size: 1.1rem; color: rgb(165, 165, 186); line-height: 1rem; }
.jblJwy { font-size: 1.2rem; line-height: 1.33; color: rgb(192, 192, 207); font-weight: 600; }
.gmbQwG { font-size: 1.6rem; line-height: 1.5; color: rgb(255, 255, 255); font-weight: 600; }
@media (min-width: 768px) {
  .gmbQwG { font-size: 1.4rem; }
}
@media (min-width: 768px) {
  .gmbQwG { line-height: 1.43; }
}
.iUgIjv { font-weight: 600; font-size: 2rem; line-height: 1.22; color: currentcolor; }
@media (min-width: 768px) {
  .iUgIjv { font-size: 1.8rem; }
}
.WehoN { font-size: 1.6rem; line-height: 1.5; color: currentcolor; font-weight: 600; }
@media (min-width: 768px) {
  .WehoN { font-size: 1.4rem; }
}
@media (min-width: 768px) {
  .WehoN { line-height: 1.43; }
}
.jdbkwO { border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.bkfMdU { position: relative; z-index: 0; display: inline-flex; align-items: center; justify-content: center; vertical-align: middle; user-select: none; overflow: hidden; border-radius: 50%; width: 3.2rem; height: 3.2rem; background-color: rgb(123, 121, 255); color: rgb(33, 33, 52); }
.bpdsvZ { width: 100%; height: 100%; object-fit: cover; border-radius: inherit; }
.iwWBOO { border-radius: 4px; padding-block: 0.7rem; }
.cSbYWd { text-decoration: none; }
.cSbYWd:visited { color: inherit; }
@keyframes gzYjWD { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
.eEEoTe { height: 4rem; text-decoration: none; border: 1px solid transparent; background: transparent; color: rgb(255, 255, 255); }
@media (min-width: 768px) {
  .eEEoTe { height: 3.2rem; }
}
.eEEoTe svg { fill: rgb(192, 192, 207); }
.eEEoTe:hover { background-color: rgb(24, 24, 38); }
.eEEoTe:active { background-color: rgb(50, 50, 77); }
.eEEoTe[aria-disabled="true"] { border: 1px solid rgb(74, 74, 106); background: rgb(50, 50, 77); color: rgb(165, 165, 186); cursor: default; }
@media (prefers-reduced-motion: no-preference) {
  .eEEoTe { transition: background-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
}
.fipIAm { height: 4rem; text-decoration: none; border: 1px solid rgb(74, 74, 106); background: rgb(33, 33, 52); color: rgb(255, 255, 255); }
@media (min-width: 768px) {
  .fipIAm { height: 3.2rem; }
}
.fipIAm:hover { background-color: rgb(24, 24, 38); }
.fipIAm:active { background-color: rgb(50, 50, 77); }
.fipIAm[aria-disabled="true"] { border: 1px solid rgb(74, 74, 106); background: rgb(50, 50, 77); color: rgb(165, 165, 186); cursor: default; }
@media (prefers-reduced-motion: no-preference) {
  .fipIAm { transition: background-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
}
.gXphMv { height: 4.8rem; text-decoration: none; border: 1px solid rgb(73, 69, 255); background: rgb(73, 69, 255); color: rgb(255, 255, 255); }
@media (min-width: 768px) {
  .gXphMv { height: 4rem; }
}
.gXphMv:hover { border: 1px solid rgb(123, 121, 255); background: rgb(123, 121, 255); }
.gXphMv:active { border: 1px solid rgb(123, 121, 255); background: rgb(123, 121, 255); }
.gXphMv[aria-disabled="true"] { border: 1px solid rgb(74, 74, 106); background: rgb(50, 50, 77); color: rgb(165, 165, 186); cursor: default; }
@media (prefers-reduced-motion: no-preference) {
  .gXphMv { transition: background-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
}
.gXCYDz { text-decoration: none; padding-block: 1.1rem; padding-inline: 1.1rem; border: 1px solid rgb(74, 74, 106); background: rgb(33, 33, 52); color: rgb(192, 192, 207); }
@media (min-width: 768px) {
  .gXCYDz { padding-block: 0.7rem; padding-inline: 0.7rem; }
}
.gXCYDz:hover { background-color: rgb(24, 24, 38); color: rgb(165, 165, 186); }
.gXCYDz:active { background-color: rgb(50, 50, 77); }
.gXCYDz[aria-disabled="true"] { border: 1px solid rgb(74, 74, 106); background: rgb(50, 50, 77); color: rgb(165, 165, 186); cursor: default; }
@media (prefers-reduced-motion: no-preference) {
  .gXCYDz { transition: background-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
}
.hBWAWo { text-decoration: none; padding-block: 0.7rem; padding-inline: 0.7rem; border: 1px solid rgb(74, 74, 106); background: rgb(24, 24, 38); color: rgb(238, 94, 82); }
@media (min-width: 768px) {
  .hBWAWo { padding-block: 0.2rem; padding-inline: 0.2rem; }
}
.hBWAWo:hover { background-color: rgb(33, 33, 52); }
.hBWAWo:active { background-color: rgb(33, 33, 52); border: 1px solid rgb(238, 94, 82); color: rgb(238, 94, 82); }
.hBWAWo[aria-disabled="true"] { border: 1px solid rgb(74, 74, 106); background: rgb(50, 50, 77); color: rgb(165, 165, 186); cursor: default; }
@media (prefers-reduced-motion: no-preference) {
  .hBWAWo { transition: background-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
}
.cklefz { text-decoration: none; padding-block: 0.7rem; padding-inline: 0.7rem; border: 1px solid rgb(74, 74, 106); background: rgb(33, 33, 52); color: rgb(192, 192, 207); }
@media (min-width: 768px) {
  .cklefz { padding-block: 0.2rem; padding-inline: 0.2rem; }
}
.cklefz:hover { background-color: rgb(24, 24, 38); color: rgb(165, 165, 186); }
.cklefz:active { background-color: rgb(50, 50, 77); }
.cklefz[aria-disabled="true"] { border: 1px solid rgb(74, 74, 106); background: rgb(50, 50, 77); color: rgb(165, 165, 186); cursor: default; }
@media (prefers-reduced-motion: no-preference) {
  .cklefz { transition: background-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
}
.EogMJ { width: 100%; height: 100%; overflow: hidden; display: flex; }
.cqdHzg { min-width: 100%; }
.hQnLbm { display: flex; user-select: none; touch-action: none; }
.hQnLbm[data-orientation="vertical"] { width: 0.4rem; margin: 0.4rem; }
.hQnLbm[data-orientation="horizontal"] { flex-direction: column; height: 0.4rem; margin: 0.4rem; }
.eWJYgf { animation: 1s linear 0s infinite normal none running gzYjWD; will-change: transform; }
.kWjZVl { display: grid; grid-template-columns: repeat(12, 1fr); gap: 20px; }
.dBmuDi { grid-column: span 12; max-width: 100%; }
@media (min-width: 520px) {
  .dBmuDi { grid-column: span 12; }
}
@media (min-width: 768px) {
  .dBmuDi { grid-column: span 12; }
}
@media (min-width: 1080px) {
  .dBmuDi { grid-column: span 6; }
}
*, ::before, ::after { box-sizing: border-box; }
* { margin: 0px; }
html { font-size: 62.5%; }
body { height: 100%; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; color: rgb(255, 255, 255); line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas { display: block; max-width: 100%; }
input, button, textarea, select { padding: 0px; font: inherit; }
button { border: unset; background: unset; padding: unset; margin: unset; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; font: unset; }
#root { isolation: isolate; }
ol, ul { list-style: none; padding: unset; margin: unset; }
table { border-collapse: collapse; border-spacing: 0px; }
:focus-visible { outline: rgb(123, 121, 255) solid 2px; outline-offset: 2px; }
:has(> :disabled:not(button)) { cursor: not-allowed !important; }
[aria-disabled="true"]:not(button) { cursor: not-allowed !important; }
:focus:not(:focus-visible) { outline: none; }
.lock-body-scroll { height: 100vh; overflow-y: hidden; }
.ibifUS { height: 1px; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; flex-shrink: 0; }
.guaqfD:focus-visible { outline: none; }
.jIEaYq { text-decoration: none; }
.jIEaYq:focus { left: 12px; top: 12px; }
.bbknlM { width: 100%; flex: 1 1 0%; display: grid; grid-template-columns: 1fr; padding: 0px; }
@media (min-width: 768px) {
  .bbknlM { overflow: hidden; grid-template-columns: 1fr; }
}
.iSoUxe { position: relative; overflow-x: hidden; }
@media (min-width: 768px) {
  .iSoUxe { transform: none; width: auto; }
}
body { background: rgb(24, 24, 38); }
.fjieab { position: absolute; top: 0px; bottom: 0px; width: 20px; z-index: 1; display: flex; align-items: center; justify-content: center; opacity: 0.8; transition: opacity 0.2s ease-in-out; cursor: col-resize; background-color: transparent; }
.eXnntD { width: 2px; height: 100%; background-color: rgb(73, 69, 255); border-radius: 1px; opacity: 0; transition: opacity 0.2s ease-in-out; }
.sc-feYGgF:hover .eXnntD { opacity: 0.8; }
.jFAIvV { display: flex; }
@media (hover: hover) and (pointer: fine) {
  .jFAIvV { display: none; }
}
.dvDvsD { display: none; }
@media (hover: hover) and (pointer: fine) {
  .dvDvsD { display: flex; }
}
@media (hover: hover) and (pointer: fine) {
  .iWCkTB:hover .sc-fpYaNP { display: flex; }
}
.iWCkTB:focus-within .sc-fpYaNP { display: flex; }
.iWCkTB:focus-within .sc-lnDrAC { pointer-events: none; }
@media (min-width: 768px) {
  .iWCkTB:focus-within .sc-lnDrAC { pointer-events: auto; }
}
.dMZONm { border-bottom: 1px solid rgb(50, 50, 77); position: sticky; max-height: 100%; height: auto; z-index: 4; }
@media (min-width: 1080px) {
  .dMZONm { border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; border-right: 1px solid rgb(50, 50, 77); height: 100dvh; }
}
.cPNLT { text-decoration: none; display: flex; align-items: center; border-radius: 4px; background: rgb(33, 33, 52); color: rgb(192, 192, 207); position: relative; width: 100%; padding-block: 0.4rem; padding-inline: 1.2rem; }
@media (min-width: 768px) {
  .cPNLT { padding-block: 0.6rem; padding-inline: 0.6rem; }
}
.cPNLT:hover { background: rgb(24, 24, 38); }
.cPNLT:hover svg path { fill: rgb(165, 165, 186); }
.cPNLT.active { background: rgb(24, 24, 38); }
.cPNLT.active svg path { fill: rgb(123, 121, 255); }
.kjQuCp { text-decoration: none; display: flex; align-items: center; border-radius: 4px; background: rgb(33, 33, 52); color: rgb(192, 192, 207); position: relative; width: 100%; padding-block: 0.4rem; padding-inline: 1.2rem; }
@media (min-width: 768px) {
  .kjQuCp { padding-block: 0.6rem; padding-inline: 0.6rem; }
}
.kjQuCp:hover { background: rgb(24, 24, 38); }
.kjQuCp:hover svg path { fill: rgb(165, 165, 186); }
.kjQuCp.active { background: rgb(24, 24, 38); }
.kjQuCp.active svg path { fill: rgb(123, 121, 255); }
.jmnMTE { padding-block: 1rem; padding-inline: 1rem; }
.bIiSCu { padding-block: 1rem; padding-inline: 1rem; }
.gsvtjL svg, .gsvtjL img { border-radius: 4px; object-fit: contain; height: 2.4rem; width: 2.4rem; }
.dlVlqO { padding: 0px; }
@media (min-width: 1080px) {
  .dlVlqO { width: 4rem; height: 4rem; justify-content: center; }
}
.gABokG { height: 32px; width: 32px; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; border-radius: 50%; padding: 0px; overflow: hidden; }
.dBBdha { max-height: fit-content; width: 200px; }
.ghxWlJ { width: 100%; overflow-y: auto; scrollbar-width: none; }
.ghxWlJ::-webkit-scrollbar { display: none; }
.farJBN { flex: 1 1 0%; flex-direction: row; justify-content: space-between; overflow-x: auto; }
@media (min-width: 1080px) {
  .farJBN { flex-direction: column; overflow: hidden auto; }
}
.dHSiXe { background: linear-gradient(90deg, rgb(123, 121, 255) 0%, rgb(172, 115, 230) 121.48%); }
.cjYHMd { font-size: 2.4rem; }
.gttaBu { display: grid; grid-template-columns: 1fr 1fr; gap: 0px; border: 1px solid rgb(74, 74, 106); border-radius: 4px; overflow: hidden; }
.jbVGzJ { border-bottom: 1px solid rgb(74, 74, 106); border-right: 1px solid rgb(74, 74, 106); display: flex; flex-direction: row; align-items: flex-start; }
.jbVGzJ:nth-child(2n) { border-right-width: medium; border-right-style: none; border-right-color: currentcolor; }
.jbVGzJ:nth-last-child(-n+2) { border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; }
.jbVayZ { text-decoration: none; padding: 12px; }